{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Action": [
                "iam:PassRole"
            ],
            "Resource": "${spinnaker_base_role_arn}",
            "Effect": "Allow",
            "Sid": ""
        }
    ]
}